<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <title><%=pageTitle%></title>
</head>
<body>
    <%-include('./partials/menu')%>
    <h2 id="titre1"> Bienvenue dans le projet de :<%=pageTitle%> </h2>
    <%-include('./partials/footer')%>
</body>
</html>